.forms{
    margin:  0 auto;
    height: 1000px;
    width: 700px;
    background-color: rgb(198, 132, 236);
    color: white;
border: 5px solid black;
border-radius: 2px;
padding: 40px;
}
input{
    border: none;
    
    background-color:  rgb(238, 169, 247)
}
body{
    margin: 0%;
    color: white;
  
}
h1{text-align: center;}

.texto{
    padding: 20px;
}   